.header{
   height: var(--header-height);
   background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.navbar{
   display: flex;
   justify-content: space-between;
}
.navbar__list{
   list-style: none;
   padding-left: 0;
   margin: 6px 0 0 0;
   display: flex;
}

.navbar__items{
   margin: 0 8px;
   position: relative;
   min-height: 26px;
}
.navbar__user{
   display: flex !important;
   justify-items: center;
   align-items: center;
   position: relative;
   margin-top: -8px;
}
.navbar__user:hover .navbar__user-menu{
   display: block;
}

.navbar__user-img{
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar__user-name{
   margin-left: 4px;
   font-size: 1.4rem;
   font-weight: 400;
}
.navbar__user-menu{
   position: absolute;
   padding-left: 0;
   z-index: 1;
   top: calc(100% + 4px) ;
   right: 0;
   width: 160px;
   border-radius: 2px;
   background-color: var(--white-color);
   list-style: none;
   box-shadow: 0 1px 2px #e0e0e0;
   display: none;
}

.navbar__user-menu::before{
   content: "";
   border-width: 20px 27px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   position: absolute;
   right: 0;
   top: -29px;
}
.navbar__user-menu::after{
   content: "";
   display: block;
   position: absolute;
   top: -8px;
   width: 60%;
   height: 8px;
}
.navbar__user-item--separate{
   border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.navbar__user-item{
   padding-top:5px;
}
.navbar__user-item a{
   text-decoration: none;
   color: var(--text-color);
   font-size: 1.4rem;
   padding: 8px 16px;
   display: block;
   font-weight: 400;
}
.navbar__user-item a:first-child{
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

.navbar__user-item a:last-child{
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
.navbar__user-item a:hover{
   background-color: #fafafa ;
}
.navbar__items--has-qr:hover .header__qr{
   display: block;
}
.navbar__items--has-notify:hover .header__notify{
   display: block;
}
.navbar__items .navbar__connect{
   cursor: text;
   color: var(--white-color);
}
.navbar__items,
.navbar__items-link{
   display: inline-block;
   font-size: 1.3rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
   cursor: pointer;
}
.navbar__items
.navbar__items-link,
.navbar__icons-link{
   display: inline-flex;
   align-items: center;
}

.navbar__items:hover,
.navbar__items-link:hover,
.navbar__icons-link:hover{
   color:rgba(255, 255 , 255, 0.7);
}
.navbar__items--strong{
   font-weight: 700;
}
.navbar__items--separate::after{
   content: "";
   display: block;
   position: absolute;
   border-left: 1px solid #fb9086;
   height: 14px;
   right: -9px;
   top: 30%;
   transform: translateY(-50%);
}
.navbar__icons-link{
   color: var(--white-color);
   text-decoration: none;
}
.navbar__icons-link:nth-child(2){
   margin-left: 3px;
}
.navbar__icon{
   font-size: 1.7rem;
   margin: 0 4px;
}


/* ---Header QR code--- */
.header__qr{
   background-color: var(--white-color);
   width: 186px;
   position: absolute;
   left: 0;
   top: 100%;
   padding: 8px;
   border-radius: 2px;
   display: none;
   animation: fadeIn ease-in .3s;
   z-index: 1;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr-img{
   width: 100%;
}
.header__qr-apps{
   display: flex;
   justify-content: space-between;
}
.header__qr-link:first-child{
   margin-left: 11px;
}
.header__qr-link:last-child{
   margin-right: 12px;
}
.header__qr-appchplay-img{
   height: 16px;
}
/* Header notification */
.header__notify{
   position: absolute;
   top: 100%;
   right: 0;
   width: 404px;
   z-index: 1;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   background-color: var(--white-color);
   cursor: default;
   transform-origin: calc(100% - 32px) top;
   animation: headerNotifyGrowth ease-in 0.2s;
   will-change: opacity, transform;
   display: none;
}
.header__notify::before{
   content: "";
   border-width: 20px 27px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   position: absolute;
   right: 4px;
   top: -29px;
}
.header__notify::after{
   content: "";
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   width: 90px;
}
@keyframes headerNotifyGrowth {
   from{
      opacity: 0;
      transform: scale(0);
   }
   to{
      opacity: 1;
      transform: scale(1);
   }
}

.header__notify-header{
   height: 40px;
   background-color: var(--white-color);
}
.header__notify-header h3{
   color: #999;
   margin: 0 0 0 12px;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 40px;

}
.header__notify-list{
   padding-left: 0;
}
.header__notify-item{
   display: flex;
}
.header__notify-item:hover{
   background-color: #f7f7f7;
}
.header__notify-item--viewed{
   background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link{
   display: flex;
   width: 100%;
   padding: 12px;
   text-decoration: none;
   
}
.header__notify-img{
   width: 48px;
   object-fit: contain;
}
.header__notify-info{
   margin-left: 12px;
}
.header__notify-name{
   display: block;
   font-size: 1.4rem;
   color: var(--text-color);
   font-weight: 400;
   line-height: 1.6;
}
.header__notify-desc{
   display: block;
   font-size: 1.2rem;
   line-height: 1.5;
   color: #756F6E;
}
.header__notify-footer{
   text-align: center;
   display: flex;
}
.header__notify-footer-btn{
   text-decoration: none;
   color: var(--text-color);
   width: 100%;
   padding: 8px 0;
   text-align: center;
   font-weight: 400;
}

/* Authen modal */
.auth-form{
   width: 500px;
   border-radius: 5px;
   overflow: hidden;
   background-color: var(--white-color);
}
.auth-form__container{
   padding: 0 32px;
}

.auth-form__header{
   padding: 5px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 12px;
   margin-top: 10px;
}

.auth-form__heading{
   font-size: 2.2rem;
   font-weight: 400;
   color: var(--text-color);
}

.auth-form__switch-btn{
   font-size: 1.6rem;
   color: var(--primary-color);
   font-weight: 500;
   cursor: pointer;
}

.auth-form__form{
}
.auth-form__input{
   width: 100%;
   height: 40px;
   margin-top: 16px;
   padding: 0 12px;
   font-size: 1.4rem;
   border-radius: 2px;
   border: 1px solid var(--border-color);
   outline: none;
}
.auth-form__input:focus{
   border-color: #888;
}

.auth-form__aside{
   margin-top: 18px;
}
.auth-form_policy-text{
   font-size: 1.2rem;
   line-height: 1.8rem;
   text-align: center;
   padding: 0 12px;
}
.auth-form__text-link{
   color:var(--primary-color);
   text-decoration:none;
}

.auth-form__controls{
   margin-top: 80px;
   display: flex;
   justify-content: flex-end;
}
.auth-form__controls-back{
   margin-right: 8px;
}
.auth-form__controls-back:hover{
   background-color: rgba(0, 0, 0, 0.03);
}
.auth-form__socials{
   background-color: #f5f5f5;
   padding: 14px 36px;
   margin-top: 22px;
   display: flex;
   justify-content: space-between;
}
.auth-form__socials-icon{
   font-size: 1.8rem;
}
.auth-form__socials-fb{
   background-color: #3A5A98;
   color: var(--white-color);
}
.auth-form__socials-fb
.auth-form__socials-icon{
   color: var(--white-color);
}
.auth-form__socials-gg{
   color: #666;
   background-color: var(--white-color);
}
.auth-form__socials-title{
   margin: 0 36px;
}
.auth-form__help{
   display: flex;
   justify-content: flex-end;
}
.auth-form__help-link{
   text-decoration: none;
   font-size: 1.4rem;
   color: #939393;
}
.auth-form__help-separate{
   display: block;
   height: 18px;
   margin: 0 16px;
   border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot{
   color: var(--primary-color);
}

/* Header with search */
.header-with-search{
   height: var(--header-with-search-height);
   display: flex;
   align-items: center;
   margin: 0 8px;
}

.header__logo{
   width: 200px;
}
.header__logo-link{
   text-decoration: none;
   color: transparent;
}
.header__logo-img{
   width: 150px;
   color: var(--);
}

.header__search{
   flex: 1;
   height: 40px;
   border-radius: 2px;
   background-color: var(--white-color);
   display: flex;
   align-items: center;
}

.header__cart{
   width: 150px;
   text-align: center ;
}
.header__cart-wrap{
   position: relative;
   display: inline-block;
   padding: 0 12px;
   cursor: pointer;
}
.header__card-icon{
   font-size: 2.4rem;
   color:var(--white-color);
   margin-top: 4px;
}
.header__cart-wrap:hover .header__cart-list{
   display: block;
}
.header__cart-list{
   position: absolute;
   top:calc(100% + 8px);
   right: 1px;
   background-color: var(--white-color);
   width: 400px;
   border-radius: 2px;
   box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
   display: none;
   cursor: default;
   animation: fadeIn ease-in 0.2s;
   z-index: 1;
}
.header__card-heading{
   text-align: left;
   margin:12px 0 8px 12px;
   font-size: 1.4rem;
   color: #999;
   font-weight: 400;
}

.header__cart-list-item{
   padding-left: 0;
   list-style: none;
   height: 40vh;
   overflow-y: auto;
}

.header__cart-item{
   display: flex;
   align-items: center;
}

.header__cart-item:hover{
   background-color: #f8f8f8;
}
.header__cart-img{
   width: 42px;
   height: 40px;
   margin: 12px;
   border: 1px solid #e8e8e8;
}

.header__cart-item-info{
   width: 100%;
   margin-right: 12px ;
}
.header__cart-item-head{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 8px;
}
.header__cart-item-name{
   font-size: 1.4rem;
   font-weight: 500;
   max-height: 4rem;
   overflow: hidden;
   color: var(--text-color);
   margin: 0;
   line-height: 2rem;
   flex: 1;
   padding-right: 16px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   text-align: left;
}
.header__cart-item-price{
   font-size: 1.4rem;
   font-weight: 500;
   color: var(--primary-color);
}
.header__cart-item-multiply{
   font-size: 0.9rem;
   margin: 0 4px;
   color: #757575;
}
.header__cart-item-quantity{
   font-size: 1.2rem;
   margin: 0 4px;
   color: #757575;
}
.header__cart-item-body{
   display: flex;
   justify-content: space-between;
}
.header__cart-item-desc{
   color: #757575;
   font-size: 1.3rem;
   font-weight: 400;
}
.header__cart-item-remove{
   color: var(--text-color);
   font-size: 1.4rem;
   font-weight: 400;
}
.header__cart-item-remove:hover{
   cursor: pointer;
   color: var(--primary-color);
}

.header__cart-list::after{
   content: "";
   position: absolute;
   right: 0px;
   top: -28px;
   cursor: pointer;
   border-width: 18px 24px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-view-cart{
   float: right;
   margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
   background-color: #f05d41;
}
.header__card-list--no-cart{
   padding: 35px 0;
}

.header__card-list--no-cart .header__car-no-cart-img,
.header__card-list--no-cart .header__cart-list-no-cart-text{
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.header__car-no-cart-img{
   width: 40%;
   display: none;
}
.header__cart-list-no-cart-text{
   font-size: 1.4rem;
   display: none;
}

.header__cart-notice{
   position: absolute;
   top: -11px;
   right: -4px;
   padding: 0 8px;
   font-size: 1.4rem;
   line-height: 1.3;
   border-radius: 11px;
   border: 2px solid #ee4d2d;
   color: var(--primary-color);
   background-color: var(--white-color);
}
.header__search-input-wrap{
   flex: 1;
   height: 100%; 
   position: relative;
}
.header__search-input{
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   font-size: 1.4rem;
   color: var(--text-color);
   padding: 0 16px;
   border-radius: 2px;
}

.header__search-select{
   border-left: 1px solid #e8e8e8;
   padding-left: 16px;
   position: relative;
   cursor: pointer;
}
.header__search-select:hover .header__search-option{
   display: block;
}
.header__search-select-label{
   font-size: 1.4rem;
   color: var(--text-color);
}

.header__search-select-icon{
   font-size: 1.2rem;
   color: #4a4a4a;
   margin: 0 16px 0 8px;
   position: relative;
   top: 1;
}
.header__search-btn{
   background-color: var(--primary-color);
   border: none;
   height: 34px;
   width: 60px;
   border-radius: 2px;
   margin-right: 3px;
   outline: none;
   cursor: pointer;
}
.header__search-btn:hover{
   background-color: #eb5f43;
}
.header__search-btn-icon{
   font-size: 1.4rem;
   color: var(--white-color);
}
.header__search-option{
   position: absolute;
   right: 0;
   top: calc(100% + 1px);
   width: 130px;
   list-style: none;
   margin-top: 13px;
   border-radius: 2px;
   box-shadow: 0 1px 2px #e0e0e0;
   padding-left: 0;
   display: none;
   animation: fadeIn ease-in 0.2s;
   z-index: 1;
}
.header__search-option::before{
   content: "";
   display: block;
   width: 100%;
   height: 10px;
   position: absolute;
   top: -12px;
   left: 0;
}
.header__search-option-item{
   background-color: var(--white-color);
   padding: 8px 8px;
}
.header__search-option-item:first-child{
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
   background-color: #fafafa;
   cursor: pointer; 
}
.header__search-option-item span{
   font-size: 1.4rem;
   color: var(--text-color);
   margin-left: 10px;
}
.header__search-option-item i{
   font-size: 1.2rem;
   color: var(--primary-color);
   margin-left:12px;
   display: none;
}
.header__search-option-item--active i{
   display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
   display: block;
}
/* Search History */
.header__search-history{
   position: absolute;
   top:calc(100% + 3px);
   left: 0;
   width: calc(100% -  16px);
   background-color: var(--white-color);
   border-radius: 2px;
   box-shadow: 0 1px 5px rgb(189, 189, 189);
   display: none;
   overflow: hidden;
   z-index: 1;
}

.header__search-history-heading{
   margin: 10px 12px;
   font-size: 1.4rem;
   color:#999;
   font-weight: 400;
}
.header__search-history-list{
   padding-left: 0;
   list-style: none;
   margin:6px 0 0;
}
.header__search-history-item{
   height: 38px;
   padding: 0 12px;
}
.header__search-history-item:hover{
   background-color: #fafafa;
}
.header__search-history-item a{
   text-decoration: none;
   font-size: 1.4rem ;
   color: var(--text-color);
   line-height: 38px;
}


/* App container */
.app__container{
   background-color: #f5f5f5;
}

.app__content{
   padding-top: 36px;
}
.category{
   border-radius: 2px;
   background-color: #ffffff;
}
.category__heading{
   color: var(--text-color);
   font-size: 1.7rem;
   padding: 12px 16px;
   margin-top: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading-icon{
   font-size: 1.4rem;
   margin-right: 4px;
   position: relative;
   top: -1px;
}
.category-list{
   padding: 0 0 8px 0;
   list-style: none;
   margin-left: 8px;
}
.category-item{
   padding:5px 0; 
   position: relative;
}
/* .category-item:first-child{}
.category-item::before{
   content: "";
   width: 100%;
   position: absolute;
   border-top: 1px solid #e1e1e1;
   left: 16px;
   top: 0;
   right: 16px;
} */
.category-item--active .category-item__link{
   color: var(--primary-color);
}
.category-item--active .category-item__link::before{
   position: absolute;
   top: 50%;
   left: 7px;
   content:"";
   border: 4px solid;
   transform: translateY(calc(50% - 7px));
   border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
   position: relative;
   font-size: 1.5rem;
   color: var(--text-color);
   text-decoration: none;
   padding: 4px 16px;
   display: block;
   transition: right linear 0.1s;
   right: 0;
}
.category-item__link:hover{
   right: -4px;
   color: var(--primary-color);
}

/* Home sort + filter */

.home-filter{
   display: flex;
   align-items: center;
   padding:12px 22px;
   border-radius: 2px;
   background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label{
   font-size: 1.3rem;
   color: #555;
   margin-right: 16px;
}
.home-filter__btn{
   min-width: 90px;
   margin-right: 12px;
   background-color:var(--white-color);
}
.home-filter__page{
   display: flex;
   align-items: center;
   margin-left: auto;
}
.home-filter__page-num{
   font-size: 1.5rem;
   color: var(--text-color);
   margin-right: 22px;
}
.home-filter__page-current{
   color: var(--primary-color);
}
.home-filter__page-control{
   border-radius: 2px;
   overflow: hidden;
   display: flex;
   width: 72px;
   height: 36px;
   box-shadow: 0 1px 2px #e0e0e0;
}
.home-filter__page-btn{
   display: flex;
   flex: 1;
   background-color: var(--white-color);
   text-decoration: none;
}
.home-filter__page-btn--disabled{
   cursor: default;
   background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
   color:#ccc;
}
.home-filter__page-btn:first-child{
   border-right: 1px solid #eee;
}
.home-filter__page-icon{
   margin: auto;
   font-size: 1.3rem;
   color: #555;
}

/* Home product*/
.home-product{
   margin-bottom: 10px;
}
.home-product-item{
   display: block;
   margin-top: 10px;
   background-color: var(--white-color);
   text-decoration: none;
   position: relative;
   border-radius: 2px;
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
   transition: transform linear 0.1s;
   will-change: transform;
}
.home-product-item:hover{
   transform: translateY(-1px);
   box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
   padding-top: 100%;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: top center;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
.home-product-item__name{
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--text-color);
   line-height: 1.8rem;
   height: 3.6rem;
   margin: 10px 10px 6px;
   overflow: hidden;
   display: block;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}
.home-product-item__price{
   display: flex;
   margin-left: 10px;

}
.home-product-item__price-old{
   font-size: 1.3rem;
   color: #666;
   text-decoration: line-through;
}
.home-product-item__price-current{
   font-size: 1.5rem;
   color: var(--primary-color);
   margin-left: 8px;
}
.home-product-item__action{
   display: flex;
   justify-content: space-between;
   margin: 6px 10px 0;
}
.home-product-item__like{
   font-size: 1.3rem;
}
i.home-product-item__like-icon-check{
   display: none;
   color: #f63d30;
}
.home-product-item__like--liked .home-product-item__like-icon-check{
   display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-original{
   display: none;
}
.home-product-item__rating{
   font-size: 0.8rem;
   color: #d5d5d5;
   margin-left: auto;
}
.home-product-item__star--gold{
   color:var(--star-gold-color);  
}
.home-product-item__sold{
   font-size: 1.2rem;
   color: var(--text-color);
   margin-left: 5px;
}
.home-product-item__origin{
   display: flex;
   justify-content: space-between;
   margin: 3px 10px 0;
   color: #595959;
   font-size: 1.2rem;
   font-weight: 300;
   padding-bottom: 5px;
}
.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favourit{
   position: absolute;
   top:10px;
   left: -4px;
   background-color: currentColor;
   color: var(--primary-color);
   font-size: 1.2rem;
   font-weight: 500;
   line-height: 1.7rem;
   padding-right: 4px;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
.home-product-item__favourit::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -4px;
   border-top: 4px solid currentColor;
   border-left: 4px solid transparent;
   filter: brightness(60%);
}
.home-product-item__favourit i{
   font-size: 0.9rem;
   margin: 0 2px 0 5px;
   color: var(--white-color);
}
.home-product-item__favourit span{
   color: var(--white-color);
}
.home-product-item__sale-off{
   position: absolute;
   right: 0;
   top: 0;
   width: 40px;
   height: 36px;
   background-color: rgba(255, 216, 64, 0.94);
   border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -4px;
   border-width: 0 20px 4px;
   border-style: solid;
   border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94) ;

}
.home-product-item__sale-off-percent{
   color:#EE4D2D;
   font-weight: 700;
   font-size: 1.2rem;
   line-height: 1.2rem;
   position: relative;
   top: 2px;
   left: 9px;
}
.home-product-item__sale-off-label{
   color: var(--white-color);
   font-weight: bold;
   font-size: 1.3rem;
   line-height: 1.4rem;
   position: relative;
   top: 1px;
   left: 3px;
}

.home-product__pagination{
   margin: 48px 0 32px 0;
}

/* Footer */
.footer{
   padding-top: 16px;
   border-top: 4px solid var(--primary-color);
   background-color: var(--white-color);
}

.footer__heading{
   font-size: 1.4rem;
   text-transform:uppercase;
   color: var(--text-color);
}
.footer-list{
   padding-left: 0;
   list-style: none;
}
.footer-item__link{
   text-decoration: none;
   font-size: 1.2rem;
   color: #737373;
   padding: 2px 0;
   display: flex;
   align-items: center;
}
.footer-item__link:hover{
   color: var(--primary-color);
}

.footer-item-icon{
   font-size: 1.6rem;
   margin: 0 8px 0 0;
}

.footer__download{
   display: flex;
}
.footer__download-qr{
   --qr-width-height:80px;
   width: var(--qr-width-height);
   height: var(--qr-width-height);
   border: 1px solid var(--border-color);
}
.footer__download-apps{
   flex: 1;
   margin-left: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.footer__download-app-link{
   text-decoration: none;
   color: transparent;
}
.footer__download-app-img{
   height: 16px;
}
.footer__bottom{
   background-color: #f5f5f5;
   padding: 8px 0;
   margin-top: 36px;
}
.footer__text{
   margin: 0;
   text-align: center;
   font-size: 1.4rem;
   color: #737373;
}